django
djangorestframework
django-cors-headers
gunicorn
dj-database-url
psycopg2-binary
python-dotenv
whitenoise
cloudinary
django-cloudinary-storage
google-generativeai
supadata
pillow
setuptools<81